@page
@model FoodProject.Pages.MyBlacklist.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Least-liked Foods</h1>

<p>
    <a asp-page="Create">Add food to Blacklist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Food
            </th>
            
            <th>
                Added at
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blacklist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alimentos.Name)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.DiaBlacklist)
            </td>
            <td>
                
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
