@page
@model FoodProject.Pages.MyRefeicoes.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
.foods {
    columns :125px 3;
}
</style>

<h1>Add Meal</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Refeicao.NomeRefeição" class="control-label"></label>
                <input asp-for="Refeicao.NomeRefeição" class="form-control" />
                <span asp-validation-for="Refeicao.NomeRefeição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Refeicao.HoraInicio" class="control-label"></label>
                <input asp-for="Refeicao.HoraInicio" class="form-control" />
                <span asp-validation-for="Refeicao.HoraInicio" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Refeicao.HoraFim" class="control-label"></label>
                <input asp-for="Refeicao.HoraFim" class="form-control" />
                <span asp-validation-for="Refeicao.HoraFim" class="text-danger"></span>
            </div>

   

             <div class="foods">
                @{ for (int i = 0; i < Model.AlimentoList.Count; i++)
                    {   
                        

                        <input asp-for="@Model.AlimentoList[i].Value" type="hidden" />
                        {
                            <input asp-for="@Model.AlimentoList[i].Selected" /> @Model.AlimentoList[i].Text
                        }
                        <br />
                    }
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
